.upper-container {
	background-color: #696969;
}

.upper-container hr {
	background-color: #696969;
}

.lower-container {
	height: 1000%;
	background-color: #696969;
}

/*.lower-container hr {
}*/

#headerh1 {
	color: #696969;
	text-align: center;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    border-radius: 10px;
}

.nav li a:hover {
	background-color: #111;
}

/*body {
	background-color: #696969;
}*/

.aboutus {
	width: 80%;
	background-color: lightgray;
	background: #222 url('https://github.com/XyPhyDev/XyPhyDev.github.io/blob/master/images/aboutimg.png?raw=true') center fixed;
	margin: 0 auto;
	border-radius: 10px;
}

.aboutus a {
	text-decoration: none;
}

.aboutus p {
	text-align: center;
	font-size: 16px;
	color: white;
	font-weight: bold;
}

#headerh1s {
	color: black;
	width: 50%;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
}

.devs h2 {
	color: black;
	text-align: center;
}

.devs {
	width:587px;
	height:150px;
	margin: 0 auto;
	border-radius: 150px;
}

.devs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-radius: 150px;
}

.devs li {
	float: left;
	height: 105px;
}

.head-icon {
    width: 10px;
    height: 40px;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
}

.devs li a {
	display: block;
	color: white;
	text-align: center;
	height: 80%;
	padding: 43.3px 16.2px;
	text-decoration: none;
    border-radius: 10px;
}

.devs li a:hover {
	background-color: #111;
	height: 146px;
}

.devs li img {
	width: 20%;
	margin-right:10px;
}
