#headerh1 {
	color: #696969;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    border-radius: 10px;
}

li a:hover {
	background-color: #111;
}

body {
	background-color: #696969;
}

.aboutus {
	width: 80%;
	background-color: lightgray;
	background: #222 url('https://github.com/XyPhyDev/XyPhyDev.github.io/blob/master/images/aboutimg.png?raw=true') center fixed;
	margin: 0 auto;
	border-radius: 10px;
}

.aboutus a {
	text-decoration: none;
}

.aboutus p {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.devs > ul > li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 150px;
    z-index: 800;
}
.devs > ul > li:hover {
    background: rgba(100, 100, 100, 0.3);
}
.devs ul {
    text-align: center;
    z-index: 101;
}
.devs li a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    z-index: 102;
}
.rank {
    font-size: 2em;
    text-align: center;
    z-index: 103;
}

* {
    margin: 0;
    padding: 0;
}
body {
    margin-bottom: 50px;
    background: #222 url('../images/staff-bg.png') center fixed;
    color: #ccc;
}
.nav-wrapper {
    background: rgba(0, 0, 0, 0.2);
}
a {
    color: rgb(200, 200, 200);
}
.devs {
    width: 85%;
    margin: 0 auto;
    background: rgba(100, 100, 100, 0.1);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.devs li {
    display: inline-block;
    padding: 10px;
    background: rgba(100, 100, 100, 0.2);
    margin: 5px;
    border-radius: 50px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.devs li:hover {
    background: rgba(100,100,100,0.5);
}
h2 {
    font-size: 1.5em;
    font-family: 'Catamaran', sans-serif;
}
#note {
    text-align: center;
}
#note h5 {
    margin-bottom: -15px;
}
#note a {
    color: rgb(200, 200, 200);
    font-weight: bold;
}
.rank {
    text-align: center;
}
.page-title {
    text-align: center;
    font-size: 3.8em;
    font-weight: 300;
}
.brand-logo {
    font-family: 'Catamaran', sans-serif;
    font-size: 2em;
    font-weight: 200;
}
